@inherits Custom.Hybrid.RazorTyped
@using AppCode.Data
@{
  var rs = As<AppResources>(App.Resources);

  var query = App.GetQuery("Resource");
  var eduResourceStream = query.GetStream("Default");

  var eduResource = As<OpenEduResource>(eduResourceStream);
  var categories = eduResource.Categories.ToList();
  var translations = eduResource.Translations.ToList();
  var copyrights = eduResource.Copyright.ToList();
  var assets = eduResource.Assets.ToList();
  var contributors = eduResource.Contributors.ToList();
}

<div class="app-oer d-flex flex-column g-1 w-100" @Kit.Toolbar.Empty().Edit(eduResource)>
  @* Link back to all resources *@
  <a class="d-flex flex-row g-4 align-items-center mb-4" href='@Link.To(parameters: MyPage.Parameters.Remove("doc"))'>
    <div class="me-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="height:14px">
        <path xmlns="http://www.w3.org/2000/svg"
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
      </svg>
    </div>
    <div class="mt-1">@rs.String("AllResources")</div>
  </a>

  @* Picture, Title, Teaser *@
  <div class="d-flex flex-row mb-2">
    <div class="me-4">
      @eduResource.Picture("Preview", settings: "Square", width: 100, imgClass: "rounded-circle mb-2")
    </div>
    <div>
      <h1 class="font-weight-medium">@eduResource.Title</h1>
      <section class="w-100 mb-4">
        @eduResource.Html(nameof(eduResource.Teaser))
      </section>
    </div>
  </div>

  @* Description *@
  <section class="w-100 mb-4">
    @eduResource.Html(nameof(eduResource.Description))
  </section>

  @* Categories *@
  <section class="w-100 mb-4" @Kit.Toolbar.Empty().Edit(eduResource.Categories))>
    <h3 class="font-weight-medium">@rs.Categories</h3>
    @String.Join(", ", categories.Select(c => c.Title))

    @if (categories.Count == 0)
    {
      <span>None</span>
    }
  </section>

  @* Translations / Languages *@
  <section class="w-100 mb-4">
    <h3 class="font-weight-medium">@rs.Translations</h3>
    @String.Join(", ", translations.Select(t => t.Code))

  </section>

  @* Copyright *@
  <section class="w-100 mb-4">
    <h3 class="font-weight-medium">@rs.Copyright</h3>
    @String.Join(", ", copyrights.Select(c => c.Code))

    @if (copyrights.Count == 0)
    {
      <span>None</span>
    }
  </section>

  @* Assets *@
  <section class="w-100 mb-4" @Kit.Toolbar.Empty().Edit(eduResource.Assets)>
    <h3 class="font-weight-medium">@rs.Assets</h3>
    @foreach (var asset in assets)
    {
      <div @Kit.Toolbar.Empty().Edit(asset)>
        @if (!string.IsNullOrEmpty(asset.Link))
        {
          <div>
            <div class="font-weight-medium">@rs.Link</div>
            <a href='@asset.Link' target="_blank">@asset.Link</a>
          </div>
        }
        else if (!string.IsNullOrEmpty(asset.Video))
        {
          <div>
            <div class="font-weight-medium">@rs.Video</div>
            <a href='@asset.Video' target="_blank">@asset.Video</a>
          </div>
        }
        else if (!string.IsNullOrEmpty(asset.Document))
        {
          <div>
            <div class="font-weight-medium">@rs.Document</div>
            <a href='@asset.Document' target="_blank">@asset.Document</a>
          </div>
        }
      </div>
    }
    @if (assets.Count == 0)
    {
      <div>None</div>
    }
  </section>

  @* Contributors *@
  <section class="w-100 mb-4">
    <h3 class="font-weight-medium mb-3">@rs.Contributors</h3>
    <div class="row w-100 mb-2 styled-table-header p-2 rounded-lg">
      <div class="col font-weight-medium">
        @rs.Name
      </div>
      <div class="col">
        @rs.ContactInfo
      </div>
    </div>
    @foreach (var contributor in contributors)
    {
      var contributorLink = Link.To(parameters: MyPage.Parameters
        .Flush()
        .Set("contributors", contributor.Id)
      );

      <a class="row w-100 border-bottom pb-4 pt-2 ps-2 pe-2" href="@contributorLink"
      @Kit.Toolbar.Empty().Edit(contributor)>
        <div class="col font-weight-medium">
          @Html.Raw(contributor.NameVisible)
        </div>
        <div class="col">
          @Html.Raw(contributor.ContactInfo)
        </div>
      </a>
    }
  </section>
</div>

@Html.Partial("./shared/Assets.cshtml")