@inherits Custom.Hybrid.RazorTyped

@{
  var categoryFilter = MyPage.Parameters["category"];
  var copyrightFilter = MyPage.Parameters["copyright"];
  var languageFilter = MyPage.Parameters["lang"];

  var query = App.GetQuery("Resource-List");
  var categories = query.GetStream("Categories");
  var copyrights = query.GetStream("Copyrights");
  var languages = query.GetStream("Languages");

  var rs = App.Resources;
}

<div class="mb-4">
  <div class="row">
    <div class="col-md">
      <!-- Content for medium and larger screens -->
      <select value="@categoryFilter" aria-label="Select category" id="app-oer-select-categories" class="styled-select"
        onchange="navigateToUrl('app-oer-select-categories')">
        @{
          var removedCategory = Link.To(parameters: MyPage.Parameters.Remove("category"));
        }
        <option value="-1" data-href='@removedCategory'>@rs.String("SelectCategory")</option>
        @foreach (var category in AsItems(categories))
        {
          var selectUrl = Link.To(parameters: MyPage.Parameters.Set("category", category.Id));
          <option value="@category.Id" data-href='@selectUrl' @(category.Id.ToString() == categoryFilter ? "selected" : "")>@category.Title</option>
        }
      </select>
    </div>
    <div class="col-md">
      <!-- Content for medium and larger screens -->
      <select value="@copyrightFilter" aria-label="Select copyright" id="app-oer-select-copyright" class="styled-select"
        onchange="navigateToUrl('app-oer-select-copyright')">
        @{
          var removedCopyright = Link.To(parameters: MyPage.Parameters.Remove("copyright"));
        }
        <option value="-1" data-href='@removedCopyright'>@rs.String("SelectCopyright")</option>
        @foreach (var copyright in AsItems(copyrights))
        {
          var selectUrl = Link.To(parameters: MyPage.Parameters.Set("copyright", copyright.Get<string>("Code")));
          <option value='@(copyright.Get<string>("Code"))' data-href='@selectUrl' @(copyright.Get<string>("Code") ==
          copyrightFilter ? "selected" : "")>@copyright.Title</option>
        }
      </select>
    </div>
    <div class="col-md">
      <select value="@languageFilter" aria-label="Select language" id="app-oer-select-language" class="styled-select"
        onchange="navigateToUrl('app-oer-select-language')">
        @{
          var removedLanguage = Link.To(parameters: MyPage.Parameters.Remove("lang"));
        }
        <option value="-1" data-href='@removedLanguage'>@rs.String("SelectLanguage")</option>
        @foreach (var language in AsItems(languages))
        {
          var selectUrl = Link.To(parameters: MyPage.Parameters.Set("lang", language.Get<string>("Code")));
          <option value='@(language.Get<string>("Code"))' data-href='@selectUrl' @(language.Get<string>("Code") ==
          languageFilter ? "selected" : "")>@language.Title</option>
        }
      </select>
    </div>
  </div>
</div>
